{% extends 'base.html' %}

{% block content %}
<h2 class="mb-4">My Courses</h2>
<div class="table-responsive">
    <table class="table table-hover table-bordered">
        <thead class="table-light">
            <tr>
                <th>Course Name</th>
                <th>Filiere</th>
                <th>Actions</th>
            </tr>
        </thead>
        <tbody>
            {% for course in courses %}
            <tr>
                <td>{{ course.name }}</td>
                <td>{{ course.filiere }}</td>
                <td>
                    <a href="{% url 'session_list' course.id %}" class="btn btn-info btn-sm text-white">Manage
                        Attendance</a>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}