DEBUG=True
SECRET_KEY=django-insecure-your-secret-key-here
ALLOWED_HOSTS=127.0.0.1,localhost

# Database Configuration
DB_ENGINE=django.db.backends.mysql
DB_NAME=face_attendance_db
DB_USER=root
DB_PASSWORD=TAREK999
DB_HOST=localhost
DB_PORT=3306
